# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/images/banners/store.jpg
src/images/categories/cat.png
src/images/categories/chicken.png
src/images/categories/dog.png
src/images/categories/fish.png
src/images/categories/garden.png
src/images/categories/hen.svg
src/images/categories/house.png
src/images/categories/info.png
src/images/categories/rat.png
src/images/categories/rat.svg
src/images/categories/real-estate.svg
src/images/categories/shark.svg
src/images/categories/sprout.svg
src/images/categories/turtle.png
src/images/categories/turtle.svg
src/images/categories/woman.svg
src/images/logos/companies/1.png
src/images/logos/companies/2.png
src/images/logos/companies/3.png
src/images/logos/companies/4.png
src/images/logos/companies/5.png
src/images/logos/my_logo/mini.svg
src/images/logos/my_logo/white.svg
